body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Main container */
.App{
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align items to the start of the container */
  align-items: center;
  height: 100vh;
}


.product-filters-container{
  display: flex;
}