/* ProductFilters.css */
.product-filters {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-filters h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-filters input[type='text'] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product-filters button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  /* Adjust ProductList.css */
  .product-list-container {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-details {
    flex: 1;
    padding: 20px;
  }
  
  
.price-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price-filter input {
  width: calc(50% - 5px); /* Adjust width as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.price-filter input:focus {
  outline: none;
  border-color: #2468a2; /* Change focus color as desired */
}