.Banner {
    display: flex;
    flex-direction: column;
    height: 50vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f5f5dc, #d2b48c); /* Brown and Beige gradient */
    text-align: center;
    z-index: 0;
}

.Banner h1 {
    font-family: 'Arial', sans-serif;
    font-size: 5em;
    color: transparent;
    background: linear-gradient(to bottom, #8b4513, #8b795e); /* Brown gradient for text */
    background-clip: text;
    -webkit-background-clip: text;
    animation: fadeIn 2s infinite alternate;
    margin: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.Banner h2 {
    font-size: 1.5em;
    color: #8b4513;
    margin: auto;
    transform: translateY(-3em);
  }
