.LotterySchedule{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto;
    text-align:center;
}

.LotteryGridWrapper{
    display: grid;
    grid-template-rows:auto auto;
    padding:1em;
}

.LotteryGridWrapper img{
    height:200px;
    width:200px;
    margin:auto;
    padding:1em;
  }


.LotteryTextWrapper{
    display: flex;
    flex-direction: column;
    border:2px solid#000;
}

.LotteryBreaks{
    width:100%;
}

.LotteryBreaks h3{
    border-top:2px solid#000;
    border-bottom: 2px solid#000;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}

.LotteryDraws{
    width:100%;
}

.LotteryDraws h3{
    border-top:2px solid#000;
    border-bottom:2px solid#000;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}

.Breaks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Draws{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 851px){
    .LotterySchedule{
        display: inline;
    }
}

@media(max-width:374px){
    .LotteryDraws h3{
        transform: translateY(0.6em);
    }
    .LotteryDraws h2{
        transform: translateY(0.92em);
    }
}
