.ReviewUs{
    padding:1em;
    text-align: center;
    margin-top:25px;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;
}

.ReviewUs h1,
.ReviewUs h2{
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #eb1717;
    color: white;
    border-radius: 5px;
}

.ReviewUs h2{
    width: fit-content;
    margin:1em auto;
}

.ReviewSymbols{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.75em;
}

.ReviewSymbols a:hover {
    transform: translateY(0.5em);
    transition:ease-in-out;
    transition-delay: 100ms;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
